<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <% for(var i=0; i < song.length; i++) { %>
        <h1><%= song[i].name %></h1>
        <h2><%= song[i].artist%></h2>
        <img src="<%= song[i].img%>" alt="">
        <audio src="<%= song[i].preview %>" controls>
</audio>
     <% } %>
</body>
</html>
