<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<<<<<<< HEAD
    <h1> <% for(var i=0; i < song.length; i++) { %>
    <audio src="<%= song[i].preview %>" controls>
        </audio>
     <% } %></h1>
=======
    <h1> <%= name %></h1>
>>>>>>> 77ae3b542de0bddde1fb5298cbd116af0061f766
</body>
</html>