/* Font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    background-image: url(/IMG/Background-img.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.header_logo {
    position: relative;
    top: 35vh;
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;
}

.login_page h1 {
  color: #f2f2f2;
  margin-bottom: 0px;
  text-align: center;
}


.welcom_screen {
    background: linear-gradient(
        rgba(83,224,219,1),
        rgba(48,89,201,1));
    height: 100vh;
}

/* form */

.login_page {
    width: 360px;
    padding: 10px 0 0;
    margin: auto;
  }
  .form {
    padding: 35px;
  }
  .form input, .form select {
    background-color: #f2f2f2;
    color: #454546;
    height: 47px;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 0px;
  }

  label {
    color: #f2f2f2;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 26px;
  }

  .form input::placeholder, .form select::placeholder {
    color: #454546;
  }

  .form button {
    text-transform: uppercase;
    background: #A4E375;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background-color: #fff;
    border: 1px solid #A4E375;
    color: #A4E375;
  }
  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .message a {
    color: #53E0DB;
    text-decoration: none;
  }

  .form .register_form {
    display: none;
  }

  .dropdown {
    background: url(/IMG/arrow_drop_down-24px.svg) no-repeat right black;
  }

  /*  bedankt pagina */

  .bedankt_pagina .login_page {
    text-align: center;
  }

  .bedankt_message {
    color: white;
  }


/* responsive */
@media only screen and (max-width: 600px) {
    .welcom_screen {
        background-image: url(/IMG/Background-img.svg);
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        height: 100vh;
    }
  }

  .welcom_screen {
      display: none;
  }



