body {
    background-image: url(/IMG/Background-img.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    font-family: "Roboto", sans-serif;
}

.header_logo {
    position: relative;
    top: 35vh;
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;
}


.welcom_screen {
    background: linear-gradient(
        rgba(83,224,219,1),
        rgba(48,89,201,1));
    height: 100vh;
}

.homepagina_realface {
    margin: 0px;
}

/* form */

.login_page {
    width: 360px;
    padding: 10px 0 0;
    margin: auto;
  }
  .form {
    padding: 35px;
  }
  .form input {
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    text-transform: uppercase;
    background: #A4E375;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #fff;
    border: 1px solid #A4E375;
    color: #A4E375;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #53E0DB;
    text-decoration: none;
  }

  .form .register_form {
    display: none;
  }

/* responsive */
@media only screen and (max-width: 600px) {
    .welcom_screen {
        background-image: url(/IMG/Background-img.svg);
        background-attachment: fixed;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        height: 100vh;
    }
  }

  .welcom_screen {
      display: none;
  }