<!DOCTYPE html>
<html lang="en">

<head>
        <%- include ('../partials/head') %>
</head>

<body>
    <main>
       
        <section class="login_page">
            <h1>Account aanmaken</h1>
            <form action="/" method="post" enctype="multipart/form-data" class="form register_form">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Wachtwoord" id="myInput" required>
                <label class="container">Laat Wachtwoord zien
                    <input class="mycheckbox"type="checkbox" onclick="myFunction()">
                    <span class="checkmark"></span>
                </label>
                <button type="submit"> aanmaken</button>
                <p class="message">Al een account? <a href="/">Inloggen</a></p>
            </form>
           
        </section>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>