<!DOCTYPE html>
<html lang="en">

<head>
        <%- include ('../partials/head') %>
</head>

<body>
    <main>
       
        <section class="login_page">
            <h1>Account aanmaken</h1>
            <form action="/" method="post" class="form register_form">
                <input type="text" name="name" placeholder="Name" >
                <input type="email" name="email" placeholder="Email" />
                 <input type="email" name="confirmemail" placeholder="Bevestig Email" />
                <input type="password" name="password" placeholder="Wachtwoord" />
                <input type="password" name="confirmpassword" placeholder="Bevestig Wachtwoord" />
                <select class="dropdown" name="geslacht">
                    <option value="" disabled selected>Geslacht</option>
                    <option value="Man">Man</option>
                    <option value="Vrouw">Vrouw</option>
                    <option value="Anders">Anders</option>
                </select>
                 <input type="number" name="leeftijd" placeholder="Leeftijd" />
                 <select class="dropdown" name="hobby">
                        <option value="" disabled selected>Hobby</option>
                        <option value="Voetbal">Voetbal</option>
                        <option value="Handbal">Handbal</option>
                        <option value="Tennis">Tennis</option>
                        <option value="Netflix">Netflix</option>
                        <option value="Slapen">Slapen</option>
                        <option value="Lezen">Lezen</option>
                        <option value="Sportschool">Sportschool</option>
                </select>
                <select class="dropdown" name="intrested">
                    <option value="" disabled selected>Geïnteresseerd in geslacht</option>
                    <option value="Man">Man</option>
                    <option value="Vrouw">Vrouw</option>
                    <option value="Geen voorkeur">Geen voorkeur</option>
                </select>
                <button type="submit"> aanmaken</button>
                <p class="message">Al een account? <a href="/">Inloggen</a></p>
            </form>
           
        </section>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>