<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body class="homepagina_realface">
    <main>
        <section class="welcom_screen">
            <img class="header_logo" src="/IMG/Logo.svg" alt="logo realface">
        </section>

        <section class="login_page">
            <h1>Inloggen</h1>
            <section class="form">
                <form action="/profile" enctype="multipart/form-data" class="login_form">
                    <input type="email" placeholder="email" />
                    <input type="password" placeholder="wachtwoord" />
                    <button type="submit">Aanmelden</button>
                    <p class="message">Geen account? <a href="./add">Account aanmaken</a></p>
                </form>
            </section>
        </section>

    </main>
  <%- include ('../partials/footer') %>
</body>

</html> 