<!DOCTYPE html>
<html lang="en">

<head>
        <%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/nav') %>
    <main>
        <p>Vul je account aan om een match te krijgen.</p> 
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>