<!DOCTYPE html>
<html lang="en">

<head>
        <%- include ('../partials/head') %>
</head>

<body>
    <main>
       
        <section class="login_page">
                <p>Bedankt voor het aanmaken van je account?</p>
                <p class="message">klik hier om in te <a href="/"> inloggen</a></p>
        </section>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>