/* Matching profiles */
article {
    background-color: white;
    position: relative;
    color: black;
    padding-bottom: 1.8rem;
    margin: 1em;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 27px #363535;
    max-width: 21em;
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

article img {
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
    max-height: 60vh;
    min-height: 60vh;
}

article li {
    list-style-type: none;
    font-size: 1.2em;
    margin: 0.5em;
}

article h3 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em;
}

article h3:hover {
    text-decoration: underline;
}

article h4 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.5em;
}

article a {
    text-decoration: none;
    color: black;
    ;
}

article button {
    display: block;
    height: 60px;
    width: 60px;
    color: white;
    background-color: #5F1E78;
    border-radius: 50%;
}

.like {
    color: white;
    background-color: #5F1E78;
}

.buttons_swipe {
    display: flex;
    justify-content: space-around;
}

.dislike {
    color: #5F1E78;
    background-color: white;
}

article div {
    margin-top: auto;
}

#match_page main {
    max-width: 380px;
    margin: auto;
}

#match_page h1 {
    color: white;
    margin-bottom: 0px;
    text-align: center;
    font-size: 24px;
}

.info_match {
    display: inline-block;
}

.buttons_swipe span {
    font-size: 28px;
}