#spotify_connect {
    display: block;
    margin: auto;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 1;
    padding: 19px 56px 21px;
    color: #FFF;
    background-color: #1DB954;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 700;
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 13px;
}

iframe{
    height: 80px;
}